*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    padding: 3rem;
    padding-bottom: 1rem;
    background-image: url("../images/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Belanosima;
}

.article_container {
    color: whitesmoke;
}

.article_container article {
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
}

.auth_section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.image {
    position: absolute;
    width: 100%;
    z-index: -10;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    gap: 2rem;
}

.sidebar {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: whitesmoke;
    font-family: Belanosima;
    backdrop-filter: blur(9px);
    box-shadow: 0px 0px 4px rgb(199, 197, 197), 0px 0px 4px rgb(199, 197, 197), 0px 0px 2px rgb(199, 197, 197);
}

.sidebar h3 {
    text-align: center;
}

/* .categotias_section{
    display: flex;
} */

.login {
    height: fit-content;
    /* display: none; */
}

.article_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
}

.register {
    height: fit-content;
}

.error {
    color: rgb(175, 3, 3);
    margin-bottom: 0.5rem;
    text-align: center;
}

.exito {
    color: darkgreen;
    margin-bottom: 0.5rem;
}

.sidebar h3 {
    margin-bottom: 0.5rem;
    color: whitesmoke;
}

.label-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1.25rem;
}

.label-form input,
select {
    padding: 0.25rem 0.4rem;
}

.sidebar label {
    display: block;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.sidebar input {
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.15rem 0;
}

.mis_datos {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.datos_section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.datos_form_button {
    margin-top: 2.25rem;
    padding: 1rem 1.25rem;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-family: Belanosima;
    color: whitesmoke;
    transform: scale(1);
    transition: transform 0.3s linear;
}

.datos_form_button:hover {
    transform: scale(1.1);
    transition: transform 0.3s linear;
}

.comment_input {
    padding: 0.6rem 0.3rem;
    outline: none;
    border-radius: 4px 0 0 4px;
    border: none;
}

.comment_form button {
    border-radius: 0 4px 4px 0;
    border: none;
    color: whitesmoke;
    font-family: Belanosima;
    width: 100px;
    cursor: pointer;
}

.comment_form {
    display: flex;
    padding-bottom: 1rem;
}

.caracteres {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    text-align: center;
    margin-right: 0.25rem;
}

.datos_title {
    text-align: center;
    color: whitesmoke;
}

.comment_section {
    padding-top: 1.5rem;
}

.datos_form {
    margin-top: 2.25rem;
    color: whitesmoke;
    display: flex;
    gap: 1rem;
}

.datos_form input {
    padding: 0.3rem 0.5rem;
}

.datos_button {
    font-family: Belanosima;
    display: block;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    transform: scale(1);
    transition: transform 0.3s linear;
}

.datos_button:hover {
    transform: scale(1.1);
    transition: transform 0.3s linear;
}

.bg-red {
    background-color: red;
}

.bg-primary {
    background-color: darkblue;
}

.bg-secondary {
    background-color: darkgreen;
}

.bg-alter {
    background-color: blueviolet;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 20vh;
    font-family: Belanosima;
    padding-bottom: 2rem;
}

.nav-menu {
    display: flex;
    list-style-type: none;
    border: none;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgb(31, 30, 30);
    color: whitesmoke;
}

.navigation_buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.main-button,
.middle-button {
    background-color: blue;
    font-family: Belanosima;
    padding: 0.5rem 1rem;
    color: whitesmoke;
    border: none;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.middle-button {
    background-color: transparent;
    border: 2px solid blue;

}

.usuario_section {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.nav-menu li {
    padding: 0.75rem;
    box-shadow: 0 0 1px gray;
    flex: 1;
    transition: flex 0.5s;
    text-align: center;

}

.title-main {
    color: whitesmoke;
    backdrop-filter: blur(9px);
    padding: 1rem 0;
}

.inicio {
    background-color: rgb(79, 79, 79);
}

.nav-menu li:last-child {
    border: none;
}

.nav-menu li:hover {
    flex-grow: 1.5;
    transition: flex-grow 0.5s;
}

.nav-menu a {
    color: whitesmoke;
}

.crear_categoria_form {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 2rem;
}

.crear_categoria_form input {
    padding: 0.5rem 0.75rem;
}

.contenido-principal {
    border: 1px gray solid;
    border-radius: 7px;
    padding: 2rem 1.5rem;
    width: 70%;
    color: whitesmoke;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 4px rgb(199, 197, 197), 0px 0px 4px rgb(199, 197, 197), 0px 0px 2px rgb(199, 197, 197);
}

.contenido-principal article {
    margin-bottom: 1.5rem;
}

.contenido-principal article h2 {
    margin-bottom: 0.5rem;
    color: rgb(9, 58, 219);
}

.main-title {
    margin-bottom: 1.75rem;
    text-align: center;
    color: whitesmoke;
}

.footer {
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    color: white;
    backdrop-filter: blur(9px);
    font-family: Belanosima;
}

.footer p {
    text-align: center;
}

.descripcion_entrada {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.comment_post {
    margin-top: 0.75rem;
}

.category_title {
    padding-bottom: 0.4rem;
}